In [2]:
import random,os,shutil,json

animal2 = [3,9]
label_dict={3:[],9:[]}

train_file = "/home/zxt/data/cal.json"
with open(train_file)  as data_file:
    train_anns = json.load(data_file)
for i in train_anns['annotations']:
    if i['category_id'] in animal2:
        label_dict[i['category_id']].append(i['image_id']+'.jpg')
        
len(label_dict[3])

11390

In [4]:
len(label_dict[9])

16601

In [5]:
label_dict[3][:3]

['588f67b8-23d2-11e8-a6a3-ec086b02610b.jpg',
 '59328b52-23d2-11e8-a6a3-ec086b02610b.jpg',
 '58df69fb-23d2-11e8-a6a3-ec086b02610b.jpg']

In [6]:
label_dict[9][:3]

['58ff0cef-23d2-11e8-a6a3-ec086b02610b.jpg',
 '58ddd7d6-23d2-11e8-a6a3-ec086b02610b.jpg',
 '590b9bbe-23d2-11e8-a6a3-ec086b02610b.jpg']

In [21]:
random.seed(365)
sample_racoon = random.sample(label_dict[3],11000)
sample_coyote = random.sample(label_dict[9],11000)

In [22]:
sample_all = sample_racoon+sample_coyote

In [23]:

len(sample_all)

22000

In [24]:
len(sample_racoon)

11000

In [25]:
len(sample_coyote)

11000

In [95]:
racoon_nodup = set(sample_racoon)

In [96]:
len(racoon_nodup)

10616

In [97]:
coyote_nodup = set(sample_coyote)

In [98]:
len(coyote_nodup)

10879

In [99]:
10616+10879

21495

In [100]:
racoon_nodup1 = list(racoon_nodup)

In [101]:
coyote_nodup1 = list(coyote_nodup)

In [102]:
import pandas as pd
df_racoon = pd.DataFrame(racoon_nodup1, columns = ['image_id'])
df_coyote = pd.DataFrame(coyote_nodup1, columns = ['image_id'])

In [103]:
df_racoon['label'] = 'racoon'

In [104]:
df_coyote['label']='coyote'

In [106]:
df_racoon.head()

                                   image_id   label
0  59a7bd15-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
1  598ad0d5-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
2  59e5de8a-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
3  594846c8-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
4  5a1979ea-23d2-11e8-a6a3-ec086b02610b.jpg  racoon

In [105]:
df_coyote.head()

                                   image_id   label
0  59b2e902-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
1  59da89d8-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
2  59cb39f4-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
3  59341906-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
4  593bdda6-23d2-11e8-a6a3-ec086b02610b.jpg  coyote

In [107]:
df_sum = pd.concat([df_racoon,df_coyote])

In [108]:
len(df_sum)

21495

In [110]:
df_sum

                                       image_id   label
0      59a7bd15-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
1      598ad0d5-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
2      59e5de8a-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
3      594846c8-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
4      5a1979ea-23d2-11e8-a6a3-ec086b02610b.jpg  racoon
...                                         ...     ...
10874  5919982e-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
10875  58c7f24b-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
10876  59292e33-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
10877  58f5b13a-23d2-11e8-a6a3-ec086b02610b.jpg  coyote
10878  5883e977-23d2-11e8-a6a3-ec086b02610b.jpg  coyote

[21495 rows x 2 columns]

In [111]:
csv_file = '/home/zxt/data/all/data.csv'
csv_data = pd.read_csv(csv_file, low_memory=False)
df = pd.DataFrame(csv_data)

In [112]:
len(df)

212266

In [113]:
df = df[df['image_id']!='S7_T12_R1_IMAG0179.JPG']

In [114]:
len(df)

212265

In [115]:
df_22 = pd.concat([df,df_sum])

In [116]:

len(df_22)

233760

In [117]:
233760-212265

21495

In [118]:
df_22

                                       image_id             label
0                        S7_F07_R1_IMAG0140.JPG          elephant
1            CA-44_09_11_2015_CA-44_0007006.jpg         wild_boar
2                       S10_F10_R1_IMAG1959.JPG  gazellethomosons
3            CA-41_08_04_2015_CA-41_0006076.jpg          squirrel
4                      1603150213300952S194.JPG          hedgehog
...                                         ...               ...
10874  5919982e-23d2-11e8-a6a3-ec086b02610b.jpg            coyote
10875  58c7f24b-23d2-11e8-a6a3-ec086b02610b.jpg            coyote
10876  59292e33-23d2-11e8-a6a3-ec086b02610b.jpg            coyote
10877  58f5b13a-23d2-11e8-a6a3-ec086b02610b.jpg            coyote
10878  5883e977-23d2-11e8-a6a3-ec086b02610b.jpg            coyote

[233760 rows x 2 columns]

In [119]:
df_22.to_csv(r'/home/zxt/data/all/dict_22.csv', index=False)